@using MVC_Personel.Models
@model List<PersonelBilgi>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "BirimDetaylar";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<h3>@ViewBag.birimAd Departmanı</h3>
<br />
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Şehir</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>

        </tr>
    }
</table>

